* {
    font-family: "Victor Mono", monospace;
    font-optical-sizing: auto;
    padding: 0;
    margin: 0;
    gap: 0;
    box-sizing: border-box;
    font-size: 100%;
	vertical-align: baseline;
    text-decoration: none;
    color: white;
    font-weight: 100;
}
html, body {
    height: 100%;
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
body {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin: 0;
    background-color: black;
}
a {
    
}
nav {
    display: flex;
    flex-direction: column;
    height: max-content;
    min-width: max-content;
    width: 10rem;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 2rem;
}
main {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    padding: 2rem;
    gap: 2rem;
}
footer{
    position: fixed;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}
.logo{
    height: 2rem;
}
section{
}
h1 {
    font-size: 36px;
    font-weight: 100;
}
strong {
    font-weight: 800;
}

img{
    max-width: 100%;
    max-height: 100%;
}
iframe{
    max-width: 100%;
    max-height: 100%;
}
.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.menu-item {
   /* background-color: bisque;  */
   transition: all .4s;
}
.menu-item-active{
    background-color: white;
    color: black;
}
.menu-item:hover {
    transition: all .2s;
    background-color: white;
    color: black;
}
#ada {
    min-height: 100%;
    display: flex;
    align-items: center;
}
.ada-text {
    width: 50%;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}
#info{
    min-height: 100%;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.info-post{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem;
}
.social{
    display: flex;
    align-items: center;
    gap: .5rem;

}
.social-icon{
    height: 1rem;
}
#works {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-height: max-content;
    align-self: center;
    padding: 2rem;
    gap: .5rem;
    width: 100%;
}

.work{
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: right;
    aspect-ratio: 1/1;
    cursor: pointer;   
}

.work:hover .thumb{
    transition: .5s;
    scale: 1.02;
}
.work:hover .work-description{
    transition: 1s;
    opacity: 1;
}

.work-thumb {
    height: 100%;
    width: 100%;
}
.thumb{
    transition: .25s;
    height: 100%;
    object-fit: cover;
}
.work-description{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:end;
    opacity: 0;
}
.description {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 1rem;
}
.hidden{
    opacity: 0;
}
.show{
    transition: all 2s;
    opacity: 1;
}
.work-post{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2rem;
    gap: 1rem;
  
}
.work-post-title{
    text-align: right;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    width: 100%;
    padding: 1rem;
}

.ytb-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.ytb-embed{
    height: 100%;
    aspect-ratio: 16/9;
    border: none;
}
#auto-images{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem;
    background-color: rgba(0, 0, 0, 0.8);
}
.auto-image {

}
@media only screen and (max-width: 768px) {
    html, body {
        overflow: scroll;
 
    }
    body {
        flex-direction: column;
        height: 100%;

    }
    nav {
        position: fixed;
        flex-direction: column;
        width: 100%;   
        padding: 0;
        z-index: 99999999999999999999999999999;
     
    }
    main {
        padding: .5rem;
    }

    section{
    }
    .menu{
        flex-direction: row;
        justify-content:space-around;
        background-color: rgba(0, 0, 0);

    }

    .menu-item{
        width: 100%;
        padding: 1rem;
        text-align: center;
    }
    .menu-item-active{
        background-color: white;
        color: black;

    }
    .ada-text {
        width: 100%;
        padding: 2rem;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .work {
        background-color: rgb(0, 0, 0);
    }
    .work-description{
        opacity: 1;
    }
    #works {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-top: 4rem;
    }
   footer{

   }
   .logo {
    height: 1rem;
   }
  

    }
 