/* --------------------------- css reset --------------------------- */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
/* --------------------------- css reset --------------------------- */    

}
html {
    background-color: black;
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: row;
    width: 100%;
}
a {
  font-family: "Victor Mono", monospace;
  color: white;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
}
p {
  font-family: "Victor Mono", monospace;
  color: white;
  font-size: 16px;
  line-height: 16px;
  font-weight: 100;
  background-color: black;
  height: min-content;
}
h1{
  font-family: "Victor Mono", monospace;
  color: white;
  font-size: 60px;
  line-height: 100%;
  font-weight: 200;
}
h2{
  font-family: "Victor Mono", monospace;
  color: white;
  font-size: 16px;
  line-height: auto;
  font-weight: 400;
}
h3{
  font-family: "Victor Mono", monospace;
  color: white;
  font-size: 16px;
  line-height: auto;
  font-weight: 400;
}
button{
  border: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  text-align: left;
}
.side-bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 200px;
    padding: 10px;
}
.menu {
  display: flex;
  flex-direction: column;
}
.page-button{

}
.page-button :hover{
    background-color: rgb(255, 255, 255);
    color: black;
}.Highlight{
  background-color: rgb(255, 255, 255);
  color: black;
}

.text-button{
  display: flex;
  width: 100%;
  padding: 2px;
}
.logo {
  width: 80px;
  align-self: center;
  margin-bottom: 20px;
  animation: fadeIn 1s;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
section {
    height: 100vh;
    margin-left: 200px;
}
#ada {
  display: flex;
  justify-content: left;
  align-items: center;
  animation: fadeIn 1s;
}
.home-text {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 50%;
}
#info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    justify-content: center;
}
.info-texto {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  height: min-content;
  width: min-content;
}
#trabalhos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  align-items: center;
 
}
.trabalho {
    display: flex;
    flex-direction: column;
    height: min-content;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    gap: 10px;
}
.trabalho-title {
}
.trabalho-video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media (min-width:360px) and (max-width:800px)  {

html, body {
  overflow: hidden;

}
body {
  flex-direction: column;
  padding: 0px
}
section {
  margin-left: 0px;
}
h1 {
  font-size: 30px;
}
.side-bar {
  height: 100%;
  width: 100%;
}
#ada {
  justify-content: center;
}
.home-text {
  width: 80%;
  text-align: right;
}

#info {
  align-items: flex-end;
  text-align: right;
}
.info-texto {
  width: 80%;
}
#trabalhos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
}



