<footer>
  <div class="footer-center">
    <a
      href="https://instagram.com/ateliedigitalanalogico"
      target="_blank"
      aria-label="Instagram"
    >
      <img
        src="assets/icons/instagram.svg"
        alt="Instagram"
        class="footer-icon"
      />
    </a>

    <a href="https://wa.me/5511984340084" target="_blank" aria-label="WhatsApp">
      <img src="assets/icons/whatsapp.svg" alt="WhatsApp" class="footer-icon" />
    </a>

    <a href="mailto:contato@ada.art.br" aria-label="Email">
      <img src="assets/icons/email.svg" alt="Email" class="footer-icon" />
    </a>
  </div>
</footer>
